spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: root
    url: jdbc:mysql://localhost:3306/farmproductplatform?characterEncoding=utf-8
  thymeleaf:
    cache: false